/* 
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif; 
 font-family: "DM Sans", sans-serif;
 font-family: "Manrope", sans-serif;
*/
/*================================= comoon css =================================*/
html{
  scroll-behaviour : smooth;
} 
body {
    font-family: "DM Sans", sans-serif;
	touch-action: manipulation;
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	background: #ffffff;
  overflow-x: hidden;
  color:#151515;
  }
  .container {
    max-width: 1320px !important;
}
.bg-orange{
      background-color: #EB592A;
}
.bg-green{
  background-color: #008799;
}

.font_primary{
    font-family: "DM Sans", sans-serif;
}
.font_secondary, .footer_list a{
 font-family: "Manrope", sans-serif;
}
.text_primary, .logo_heading, .navbar-nav-link:hover, .footer_list a{
  color:#151515 !important;
}
.text_secondary, .footer_list a:hover{
  color:#d763ff !important;
}
.bg_primary{
  background-color:#151515;
}
.bg_secondary{
  background-color:#d763ff;
}
.container{
	max-width: 1180px;
}  
p, h1, h2, h3, h4, h5, h6{
  margin-bottom:0px;
}
/* custom scroll */
::-webkit-scrollbar {
	width: 3px;
	height: 3px;
  }
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #fff;
	border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background:#7f7f7f;
	box-shadow: inset 0 0 6px #f5f5f5;
  }
  
  /* custom scroll */
.text-blue{
  color: #2e4c8e;
}
  p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #394630;
  }
  /* heading css */
  h1 {
  color:#151515;
  font-family: "Manrope", sans-serif;
font-weight:900;
font-size: 55px;
line-height:100%;
margin:0
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #151515;
 font-family: "Manrope", sans-serif;
}
h3 {
 font-family: "Manrope", sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #151515;
  line-height: 30px;
}
h5 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #151515;
  text-transform: capitalize;
  font-weight: 700;
 font-family: "Manrope", sans-serif;
}
h6 {
 font-family: "Manrope", sans-serif;
  color: #151515;
  font-size: 26px;
  font-weight: 700;
}
.font-small{
  font-size: 14px !important;
  line-height: 120%;
}
  /* heading css */
  p:last-child{
	margin-bottom:0px;
  }
  button::-moz-focus-inner {
	border: 0;
  }
  :focus {
	outline: none;
  }
  ::-moz-focus-inner {
	border: 0;
  }
  button:focus {
	outline: none;
  }
  a,
  a:hover,
  button,
  button:hover, .indus_block, .indus_block:hover, .form-group input, .form-group input:focus {
	transition: all 0.5s ease 0s !important;
  }

/*================================= 4 Global Styles (#glob) =================================*/
.page-content {
  padding-top: 108px;
  position: relative;
}
.section-spacer{
  padding:100px 0px;
}
.logo_heading h3 {
 font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 26px;
  display: flex;
  align-items: center;
}
.logo_heading img {
  width: 200px;
  object-fit: cover;
}
.navbar-nav-link {
  position: relative;
  display: block;
  cursor: pointer;
  outline: 0;
  transition: all ease-in-out .15s;
  color: #151515 !important;
  font-family: "DM Sans", sans-serif;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
  padding: 0 16px !important;
  font-size: 12px !important;
}
.magnet-button {
  display: inline-flex;
  white-space: nowrap;
  color: #151515;
  background: transparent;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 14px;
 font-family: "Manrope", sans-serif;
  font-weight: 700;
  padding: 9px 30px;
  letter-spacing: .1em;
  border: 1px solid #e1e1e1;
}
button.magnet-button {
  width: 178px;
  height: 52px;
  display: flex;
  align-items: center;
}
.magnet-button:hover{
  border-color: #151515;
  color:#151515;
  background:transparent;
}
.fixed-top{
  z-index: 999;
  background:#fff;
}
.custom-header.sticky .navbar {
  -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
}
.sub-heading {
  font-size: 23px;
  position: relative;
  padding-left: 50px;
  color: rgba(24,24,21,.5);
  font-weight: 600;
}
.sub-heading:after {
  content: "";
  background: #000;
  position: absolute;
  top: 7px;
  left: 0;
  width: 35px;
  height: 0.3px;
}
.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}
.section-about .right_content img {
  height: 480px;
  object-fit: cover;
  object-position:top;
}
.service_block img {
  width: 80px !important;
  height: 80px !important;
  object-fit: contain;
}
.service_block {
  padding: 30px;
  box-shadow: 1px 1px 8px 0px rgb(225 225 225) !important;
  margin: 10px;
  position: relative;
}
.service_block h3 {
  padding: 20px 0px 25px;
}
.service_block:hover, .section_services .owl-item.active.center {
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
}
.section_services{
  position:relative;
  overflow:hidden;
}
/* .section_services .owl-stage-outer{
  overflow: visible;
} */
.footer_top, .footer-copyright {
  border-top: 1px solid #e1e1e1;
}
.footer_list a{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500 !important;
  margin-bottom: 5px;
  font-family: "DM Sans", sans-serif;
}
.footer-copyright p {
  font-size: 12px !important;
}
.footer_bottom {
  background: #2e4c8e;
}
.social-group a {
  color: #d763ff;
  font-size: 16px;
  font-weight: 700;
  margin: 0px 8px;
}
.breadcrumbs_heading{
    color: rgba(24,24,21,.5);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: Source Sans Pro!important;
    margin-bottom: 30px;
}
.bg_heading h5{
  font-size: 63px;
  letter-spacing: 0.76px;
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke: 1px #000;
}
.img-size-1 {
  width: 100%;
}
.right_img {
  margin-top: 100px;
}
h4.number {
  font-size: 60px;
  font-weight: 700;
  text-align:center;
}
h4 {
  font-size: 60px;
  line-height: 70px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
section.section_project a {
  font-size: 55px;
  line-height: 60px;
  position: relative;
  font-weight: 700;
}
section.section_project a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background: currentColor;
  transition: transform 0.45s cubic-bezier(.4,.22,.21,1.04);
}
section.section_project a{
  color:#fff !important;
}
section.section_project a:hover:after{
  transform: scaleX(0);
}
.section_project{
  background-image: url(../images/project-bg.png);
  background-color:#000;
  -webkit-animation: slide 20s linear infinite;
  animation: slide 20s linear infinite;
}
.section_teach_content .nav-link {
  font-size: 18px;
  color: #151515;
  font-weight: 600;
  position: relative;
  padding: 20px 30px;
}
.section_teach_content .nav-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;  
  background: transparent;  
  transform: scaleX(0);
  transition: transform 0.45s cubic-bezier(.4,.22,.21,1.04);
}
.nav-tabs .nav-item.show .nav-link:after, .nav-tabs .nav-link.active:after{
  background: #d763ff;
  transform: scaleX(1);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-color: transparent;
}
.indus_block img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.m-icon{
  width: 100px !important;
}
.indus_block h6 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 18px;
}
.indus_block{
  padding: 40px 15px;
}
.indus_block:hover {
  box-shadow: 0px 20px 100px rgb(0 0 0 / 10%);
}
.indus_block:hover img{
  -webkit-filter: unset;
  filter: unset;
}
.s_block .img_block img {
  width: 60px;
}

.s_block h3{
  font-size: 20px;
}
.s_block p {
  font-size: 15px;
  line-height: 25px;
}
.s_block .img_block {
  /* background-image: url(../images/shape-dot.png); */
  box-shadow: 1px 1px 8px 0px rgb(225 225 225) !important;
  width:150px;
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 100%;
  /* animation: rotation 8s infinite linear; */
}
.slider-nav img{
  width:50px;
}
.section_services .left_col {
    position: static!important;
    z-index: 9;
    background: #fff;
}
.section_services .slider-for {
  background-position: top;
  position: absolute;
  height: 100%;
  width: 35%;
  left: 0px;
  background-size: cover;
  background: #fff;
}
.slider-for img {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  width: inherit;
  height: 420px;
  object-fit: cover;
  object-position: center;
}
.slick-arrow {
  background: #151515;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  cursor: pointer;
}
.slick-arrow:before {
  color: #fff;
  font-size: 12px;
}
i.fa.fa-chevron-left.slick-arrow {
  position: absolute;
   top: -139px;
  right: 50px;
}
i.fa.fa-chevron-right.slick-arrow {
  position: absolute;
   top: -139px;
  right: 0;
}
.slider-nav .img_block {
  background: #f8f8f8;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.services_block p {
  font-size: 14px;
  line-height: 27px;
  margin-top: 20px;
}
.services_block {
  padding: 25px;
  box-shadow: 0 0 10px 7px rgb(0 0 0 / 3%);
  border: 1px solid #eee;
  margin: 14px;
  position: relative;
}
.slider-nav .slick-list{
  overflow: visible;
}
a.btn_more {
  color: #d763ff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.1px;
  opacity: 0;
}
.slider-nav .item.slick-slide.slick-current.slick-active .services_block a.btn_more {
  opacity: 1;
}
form.contact_form h5, form.contact_form span {
  color: #ccc;
  font-size: 30px;
  text-transform: initial;
  font-weight: 600;
}
.hi_fi_icon{
  width:50px;
}

.button-group-pills .btn {
  border-radius: 30px;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 10px;
    border-color: #bbbbbb;
    background-color: #FFF;
    color: #151515;
    width: 178px;
    height: 52px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}
.button-group-pills .btn.active {
  border-color: #151515;
  background-color: #151515;
  color: #FFF;
  box-shadow: none;
}
.button-group-pills .btn:hover {
  border-color: #151515;
  background-color: #151515;
  color: #FFF;
}
.check_group input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
label.btn.btn-default:focus {
  box-shadow: none !important;
}
.label_check {
 font-family: "Manrope", sans-serif;
}
.form-group input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ededed;
  height: 85px;
}
.form-group input:focus {
  border-color: #151515;
}
::-webkit-input-placeholder { /* Edge */
 font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  color: #ccc;
  font-size: 30px;
  font-weight: 500;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  color: #ccc;
  text-transform: initial;
  font-size: 30px;
  font-weight: 500;
}

::placeholder {
 font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  color: #ccc;
  font-size: 30px;
  font-weight: 500;
}
section.work_content h4 {
 font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 35px;
}
.work_content .label {
  color: #666;
  font-size: 18px;
}
.work_block {
  margin-bottom: 100px;
  border: 15px solid #fff;
}
.work_content_right_content{
  position: relative;
  top: 200px;
}
.s_heading h3 {
 font-family: "Manrope", sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
  padding-top: 30px;
}
.footer_sub_heading h5 {
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
}
.section_services_content section.fv img {
  object-position: center;
  object-fit: contain !important;
}
.about_slider_header {
  padding: 2.2rem 2.5rem;
      background: #fbe0dc;
      border-radius: 2rem;
      width: 350px;
      margin: 0 auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
}
img.about_slider_img {
  width: 139px !important;
  object-fit: contain;
  position: absolute;
  top: 22px;
  right: 0;
  height: auto !important;
  opacity: 0.4;
}
.skill_content img {
  width: 50px !important;
  height: 50px  !important;
  margin:0 auto;
  object-fit: contain !important;
}
.skill_content h6 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.filter{
  filter: brightness(0.5);
}

.dropdown-content {
  background: #fff;
  position: absolute;
  top: 77px;
  left: 0;
  display:none;
  opacity:0;
  box-shadow: 0 0 122px 5px rgba(63,4,4,.14);
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}
.course-dropdown:hover .dropdown-content {
  display: block;
  opacity:1;
  transition: all 0.5s ease 0s;
}
.dropdown-content .nav-pills {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,.16);
  margin-bottom: 0 !important;
  height: 400px;
  overflow: scroll;
  display: block !important;
}
.dropdown-content .nav-pills.flex-column .nav-link {
  color: #181815;
  background: #fff;
  cursor: pointer;
  border-bottom: 1px solid #e1e1e1 !important;
  text-align: left;
  position: relative;
  width: 100%;
}
.dropdown-content .nav-pills.flex-column .nav-link {
  color: #181815;
  background: #fff;
  cursor: pointer;
  border-bottom: 1px solid #e1e1e1 !important;
  text-align: left;
  position: relative;
  width: 100%;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  border-radius: 0 !important;
  padding: 10px 20px !important;
  text-transform: uppercase;
  font-weight: 600;
}
.custom_header a.course-listing-item:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #2e4c8e;
  left: 28px;
  transform: rotate(45deg);
  top: 18px;
}
.custom_header a.course-listing-item {
  background: #1977cc0f;
  color: #181815;
  padding: 10px 20px 10px 35px;
  border-radius: 6px;
  width: 100%;
  font-family: 'source serif pro' !important;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.course-list-time span {
  font-size: 12px;
}
.custom_header .tab-content .row {
  gap: 16px 0px;
}
.custom_header li.nav-item {
  height: 45px;
  display: flex;
  align-items: center;
}

a.btn-v1 {
  background: #2e4c8e;
  color: #fff;
  font-size: 14px;
  display: flex;
  border-radius: 0px;
  padding: 6px 20px;
  min-width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  border:1px solid #2e4c8e;
  transition: all 0.5s ease 0s;
}
.btn-v2 {
  background: #2e4c8e;
  color: #fff;
  font-size: 14px;
  display: flex;
  border-radius: 0px;
  padding: 8px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  width: fit-content;
  border:1px solid #2e4c8e;
  transition: all 0.5s ease 0s;
}
.btn-v2:hover, a.btn-v1:hover{
  background: transparent;
  color: #2e4c8e;
}
.course-dropdown .tab-content {
  padding: 30px 30px 30px 0px;
}
a.navbar-nav-link.all-course {
  background: #1977cc30;
  border-radius: 6px;
  white-space: nowrap;
}
.custom-header a.btn-v1{
  height: 65px;
  width: 170px;
}
a.course-listing-item h6{
 color:#000;
    font-size: 16px;
}
span.course-line {
  display: inline-flex;
  background: #2f4989;
  width: 1px;
  height: 9px;
}
.course-list-time {
  display: flex;
  align-items: center;
  gap: 9px;
}
.top-header {
  background: #4881b014;
  
}
.top-header a{
  font-size:12px;
}
.top-banner{
  background-image: url(../images/banne-im.png);
  height:100vh;
  background-size: cover;
}
.review-im_wrapper {
  width: 174px;
}
.banner-view-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-rating img {
  width: 120px;
  object-fit: contain;
}
.banner-views {
  display: flex;
  align-items: center;
  gap: 40px;
}
.top-banner .row{
  height:100vh;
  align-items: center;
}
.navbar-brand {
  padding-top: 5px !important;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}

.slider  img {
  width: 100px;
  height: 100px;
  animation: scroll 20s linear infinite;
  object-fit: contain;
}
.slide-logo-heading h6 {
  font-size: 18px;
  font-weight: 800;
}
.slider {
  position: relative;
}

.slider:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to left, transparent, #ffffff) no-repeat bottom;
}
.slider:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(to left, transparent, #ffffff) no-repeat bottom;
}
.slider:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(to left, #ffffff, #ffffff00) no-repeat bottom;
  z-index: 999;
}
.section-count-item p {
  color: #71819f;
}
.section-count-item h3 {
  font-size: 32px;
  font-weight: bold;
  margin-top:15px;
}
.section-count-logo-inner {
  z-index: 99;
  background-color: rgba(129, 214, 236, .1);
  border-radius: 26px;
  position: relative;
}
.slide-logo {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #e1dedc;
  border-radius: 24px;
}
.section-count-grid {
  padding-top: 35px;
  padding-bottom: 35px;
}
section.counter {
  position: relative;
  top: -30px;
}
.page-content:after {
  content: "";
  position: absolute;
  width: 86.6vw;
  height: 100%;
  background: url(../images/grid.svg);
  left: 0;
  top: 0;
  background-size: 100%;
  z-index: -1;
}
.baner-content {
  position: relative;
  z-index: 99;
}
.top-header a {
  font-size: 12px;
  color: #000;
  font-weight: 500;
}
.about-im-wrapper{
  height:250px;
}
.about-im-wrapper img{
  object-fit: cover;
  border-radius: 6px;
}
.banner-left-content-2 .view-heading-3{
  font-size: 14px;
}
.about-view {
  border: 1px solid #e1dedc;
  border-radius: 6px;
  padding: 15px;
}
.about-view .review-im_wrapper {
  width: 100px;
}
.about-im-wrapper video {
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
  width: 100%;
}
.about-overlay-text h4{
  font-size: 18px;
}
.about-overlay-text{
  position: absolute;
  bottom:15px;
  left:15px;
}
.about-overlay-text h4 {
  font-size: 18px;
  line-height: 100%;
  font-weight: 800;
}
.section-heading h2{
  font-family: "DM Sans", sans-serif;
  font-weight:700;
  font-size:45px;
  line-height: 110%;
 letter-spacing: 1px;
}
.section-heading{
  margin-bottom: 35px;
}
.bg-gradiant{
  background-image:url(https://bestwpware.com/html/tf/eduleb/assets/img/bg/section-2.jpg);
  background-size: cover;
  background-position: center;
}
.section-heading.center .sub-heading{
  width: fit-content;
  margin: 0 auto;
}
.partner-logo-item {
  width: 16%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e1dedc;
    border-radius: 11px;
    padding: 20px;
}
.partner-logo-item img {
  object-fit: contain;
}
.partner-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  display: flex;
  justify-content: center;
}
.partner-logo-item img {
  object-fit: contain;
  height: 60px !important;
}
.course-listing li{
  list-style:none;
}
.course-listing{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.course-listing li a {
  color: #394630;
  font-size: 14px;
  line-height: 140% !important;
  display: flex;
  align-items: baseline;
}
.couse-im-wrapper {
  height: 254px;
}
.couse-im-wrapper img {
object-fit: cover;
border-top-left-radius: 11px;
border-top-right-radius:11px;
}
.course-content h5 {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 15px;
}
.course-content {
  margin-top: 24px;
  padding: 0px 30px 00px;
}
.course-content li a{
  position: relative;
  padding-left: 20px;
}
.course-content li a::before{
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #2e4c8e;
  left: 0px;
  transform: rotate(45deg);
  top: 5px;

}

.course-item {
  border: 1px solid #e1dedc;
  box-shadow: 0 0 122px 5px rgba(63,4,4,.14);
  border-radius: 11px;
  height: 100%;
}
.course-bottom{
  border-top: 1px solid #e1dedc;
  padding:20px;
}
section.courses .row {
  gap: 20px 0px;
}
.social-media a {
  background: #2e4c8e;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.social-media a i{
  display:flex;
  justify-content: center;
  align-items: center;
}
.social-media a i:before {
  font-size: 14px;
  color: #fff;
}
.social-media {
  display: flex;
  gap: 10px;
}
.footer_heading h5 {
  font-size: 18px;
  font-weight: 800;
}
.footer_list i:before {
  font-size: 8px;
}

.custom-footer {
  background-image: url(https://lizza.wpengine.com/lms/wp-content/uploads/sites/12/2023/09/Pattern-Bg-4.png);
}
.footer_list a i {
  margin-right: 5px;
}
.cta-content{
  border-radius:24px;
  padding: 80px 50px 80px 50px;
}
.features-points-item i {
  color: #2e4c8e;
  font-size: 16px;
}
.features-points{
  gap: 15px;
}
.cta {
  position: relative;
  top: 35px;
}
.footer_top {
  padding-top: 100px !important;
}
.cta-im-wrapper {
  height: 300px;
}
.cta-im-wrapper img{
  object-fit: contain;
}
.top-header-menu h2{
  font-size:16px;
}
.count-down span strong {
  font-size: 12px;
  width: 30px;
  height: 30px;
  background: #2e4c8e;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff !important;
}
.count-flex span{
  font-size: 12px;
  gap:10px;
  color:#000;
  
}
.count-flex, .count-flex span{
  display:flex;
  width: 100%;
}
.nav-serach-course {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  border: 1px solid #e1dedc;
  border-radius:30px;
}
.count-flex{
  gap:20px
}
.top-header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav-search input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #394630;
  border: 0;
  padding-left: 15px;
  padding-right: 60px;
}

.nav-search input::-ms-input-placeholder { /* Edge 12-18 */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #394630;
}

.nav-search input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #394630;
}
.nav-search button.icon {
  border: 0;
  background: #2e4c8e;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.nav-search {
  width: 100%;
}
.nav-search {
  padding-left: 0;
  border-left: 1px solid #e1dedc;
  position: relative;
  width: 400px;
}
.nav-serach-course ul {
  padding-left: 10px !important;
}
.nav-search button.icon {
  border: 0;
  background: #2e4c8e;
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: -7px;
  right: 0px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}
.nav-search button.icon svg, .nav-search button.icon path {
  fill: #fff;
}

.courses .slick-list, .innovative-course .slick-list{
  overflow:unset;
}
.courses .slick-track
{
    display: flex !important;
}

.courses .slick-slide
{
    height: inherit !important;
}
.courses .slick-slider, .innovative-course .slick-slider, .testimonial .slick-slider{
  margin:0 -15px;
}
.courses .slick-slide, .innovative-course .slick-slide,  .testimonial .slick-slide{
  margin-right:10px;
  margin-left:10px;
}
.slick-prev, .slick-next {
  background: #2e4c8e !important;
  z-index: 99 !important;
  position: absolute !important;
  top: -40px !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.slick-prev {
  left: auto !important;
  right: 22px !important;
}
.slick-prev:before {
  content: "\f053" !important;
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome !important;
  font-size: 14px !important;
  opacity: 1 !important;
}
.slick-next:before{
  content: "\f054" !important;
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome !important;
  text-rendering: auto;
  font-size: 14px !important;
  opacity: 1 !important;
}
.in-course-item{
  padding:30px;
  border-radius: 6px;
}
.in-course-item {
  height: 278px !important;
  overflow: hidden;
}
.in-course-im-wrapper {
  position: absolute;
  right: 0;
  width: 65%;
}
.in-course-im-wrapper {
  position: absolute;
  right: 0;
  width: 65%;
  bottom: -31px;
}
.in-course-item h5 {
  color: #fff;
}
button.video {
  border: 0;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  cursor: pointer;
}
button.video i {
  font-size: 14px;
}
.in-course-item h5 {
  color: #fff;
  position: relative;
  z-index: 99;
  width: 80%;
}
.bg-pink{
  background-color:#d0125a;
}
.bg-darkgreen{
  background-color:#14452f;
}
.bg-blue{
  background-color:#114fbe;
}button.close {
  position: absolute;
  top: 4px;
  right: 10px;
  background: #2e4c8e;
  opacity: 1;
  color: #fff !important;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.testimonial-person {
  width: 60px;
  height:  60px;
}
.testimonial-bottom-content{
  gap:20px
}
.testimonial-bottom-content-left h6{
  font-size: 18px;
}
.testimonial-item {
  border: 1px solid #e1dedc;
  border-radius: 11px;
  height: 100%;
  background: #fff;
  padding: 40px;
}.award-im-wrapper {
  box-sizing: content-box;
  padding: 30px;
  height: 400px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  border-radius: 15px;
}
.award-im-wrapper img {
  object-fit: cover;
  object-position: top;
}
button.btn-speak {
  background-image: url(https://infosectrain.com/wp-content/themes/Divi/assets/images/home/success-thumbnail.webp);
  height: 400px;
  width: 80%;
  margin:0 auto;
  background-size: cover;
  border-radius: 11px;
  margin: 0 auto;
  text-align: center;
  display: flex;
    align-items: center;
    justify-content: center;
}
span.play-icon {
  background: #2e4c8e;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  border: 7px solid #ffffff2b;
  cursor: pointer;
}
.nav-mega-menu {
  box-shadow: 0 10px 20px 0 rgba(197,208,216,0.2);
}




/*=================================== media query css ===================================*/


  @media only screen and (min-width: 300px) and (max-width: 767px) {    
    .work_content_right_content{
      position: unset;
    }
    .button-group-pills .btn{
      margin-left: 5px;
      font-size: 14px;
    }
    h2{
      font-size: 35px;
    }
    h4{
      font-size: 40px;
      line-height: 50px;
    }
    h5{
      margin-bottom: 10px;
      font-size: 18px;
    }
    .s_heading h3{
      font-size: 45px;
      line-height: 50px;
    }
    section.section_project a{
      font-size: 35px;
      line-height: 40px;
    }
    .custom-footer {
      text-align: center;
  }
  .footer_top.py-5 {
    padding-bottom: 30px !important;
}
.social-group.text-right {
  text-align: center !important;
}
    .footer_list {
      margin-bottom: 35px;
  }
    .page-content {
      padding-top: 80px;
  }
  .section-spacer {
    padding: 30px 0px;
}
    button.navbar-toggler.collapsed i:before {
      content: "\f0c9";
    }
    button.navbar-toggler i:before {
      content: "\f00d";
    }
    button.navbar-toggler i:before {
      font-size: 20px;
  }
  button.navbar-toggler i {
    position: absolute;
    top: 25px;
    right: 18px;
}
    i.fa.fa-times {
      display: none;
    }
    .float-right {
      float: none !important;
    }
    ul.main-menu a{
      justify-content: center;
      width: 100%;
      margin: 0 !important;
      padding: 15px 0px !important;
    }
    .navbar-collapse{
      text-align: center;
    }
    .main-menuright {
      margin-top: 20px;
      margin-bottom: 30px;
  }
  h1{
    font-size: 35px;
    line-height: 40px;
  }
  .sub-heading{
    font-size: 18px;
    padding-bottom: 15px;
  }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
   
  }
  @media only screen and (min-width: 991px) and (max-width: 1024px) {

  }

  